@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');

.ProjectSection {
    background-color: #f9ecf0;
    margin-top: -10px;
    font-family: 'Karla', sans-serif;
}

.projectPageTitle {
    padding-top: 30px;
    font-weight: bold;
    text-align: center;
    font-size: larger;
}

.card-img-top {
    width: 100%;
    height: 30vw;
    object-fit: cover;
}
